<nav>
  <ul>
    <li>
      <a class="parent" routerLink="/review/description" routerLinkActive="active">Описание</a>
      <ul class="child">
        <li><a routerLink="/review/description/idea" routerLinkActive="active">Идея</a></li>
        <li><a routerLink="/review/description/problems" routerLinkActive="active">Какую проблему решает?</a></li>
        <li><a routerLink="/review/description/details" routerLinkActive="active">Детальное описание проекта</a></li>
        <li><a routerLink="/review/description/naming" routerLinkActive="active">Найминг / слоган</a></li>
      </ul>
    </li>

    <li>
      <a class="parent" routerLink="/review/design" routerLinkActive="active">Дизайн</a>
      <ul class="child">
        <li><a routerLink="/review/design/logotype" routerLinkActive="active">Logotype</a></li>
        <li><a routerLink="/review/design/identity" routerLinkActive="active">Identity</a></li>
        <li><a routerLink="/review/design/brand" routerLinkActive="active">Brand</a></li>
        <li><a routerLink="/review/design/prototype" routerLinkActive="active">Prototype</a></li>
        <li><a routerLink="/review/design/product" routerLinkActive="active">Product design</a></li>
        <li><a routerLink="/review/design/digital" routerLinkActive="active">Digital design</a></li>
      </ul>
    </li>
  </ul>
</nav>
